.components{
    
    padding: 15px;
    &__content{
        background: white;
        padding: 15px;
        border-radius: 4px;
    }
    .nocomponents{
        text-align: center;
        color: rgb(124, 124, 124);
        svg{
            font-size: 70px;
        }
    }
    .removebtn{
        box-shadow: none!important;
    }
    
}
.btn{
    border: none!important;
    box-shadow: none!important;
    font-size: 14px;
    
    &.add-component{
        background: linear-gradient(90deg, rgba(253,134,154,1) 0%, rgba(255,191,154,1) 100%)!important;
    }
}