.general-settings{
    padding: 15px;
    &__content{
        background: white;
        padding: 15px 25px;
        border-radius: 4px;
        min-height: 120px;
    }
    .select-items{
        color: rgb(124, 124, 124);
        label{
            font-size: 14px;
            font-weight: bold;
        }
        select{
            color: #D4D6DE;
            border: 1px solid #D4D6DE;
        }
    }
}