.modal{
    &__body{
        padding: 50px 15px!important;
        display: flex;
        justify-content: center;
        align-items: center;
        h5{
            text-align: center;
            max-width: 320px;
            font-size: 25px;
        }
    }
    .deleteIcon{
        font-size: 50px;
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        color: #E7E7F0;
    }
    
    .btn{
        border: none;
        box-shadow: none!important;
        font-size: 14px;
        
        &.remove{
            background: #FF6678!important;
        }
        &.cancel{
            background: #F3F3F9!important;
            color: rgb(68, 68, 68);
        }
    }
    
    
}